
.case_index_nav li a{
	padding: 5px;
	
}
.doc-logo button{
	position: relative;
	z-index: 500;
	margin-top: -20px;
	margin-bottom: 0px;
	
}
.case_index_title{
	font-family:  "estrangelo edessa",Arial,"Times New Roman",Georgia;
	font-size: 34px;
	color: #414141;
	margin-top: 24px;

}
.doc-logo {
	margin-top: 10px;

}
.case_index_plist div{
	margin-top: 30px;
}
.case_index_plist img{
	width: 100%
}
.case_index_plist p{
	font-size: 14px;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 0px;
}

.page{
	width: 300px;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 10px;
}
.case_index_nav{
	position: relative;
	z-index: 100;
}
.case_index_h{
	height: 0px;
}
@media(max-width: 759px){
	.case_index_plist div:nth-child(2){
	margin-top: 25px;
	margin-bottom: 10px;
}
}
@media(min-width: 760px){
	.case_index_nav li{
		margin-right: 25px;
	
	}
}
@media(min-width: 1000px){
	.case_index_nav li{
		margin-right: 45px;
	
	}
}
@media(min-width: 1200px){
	.case_index_nav li{
		margin-right: 65px;
	
	}
}