
.nb-d{
	height: 38px;background-color: #f1f1f1;
}
.nb-d div p,.E-m4 p{
	padding-top: 7px;
}

.contact_h1{color:#444549;font-family: Estrangelo Edessa;position:relative;left:2px;padding-top:37px;font-size: 32px;height:84px;margin:0;}
.contact_h4{position:relative;left:0px;padding-top:38px;height:69px;margin:0;}
article section .contact_a1{
	padding-top: 20px;
	    padding-left: 1px;
}
article div div b{
	font-size: 17px;
}
.contact_first{
	margin:0;padding-top: 30px;
}
.contact_i-f{
	font-size: 21px;
}
.E-m1{
	padding-left:28px;color: #464a56;
}
.E-m1 a{
	padding-top: 6px;
}
.contact_i-s{
	font-size: 37px;margin-top:-8px; 
}
.E-m2{
	padding-left:34px;padding-top:0;color: #464a56; 
}
.E-m2 p{
	padding-left: 1px;
}
.contact_second{
	padding-top: 14px;
}
.contact_i-t{
	font-size:30px;
}
.E-m3{
	padding-left: 28px;
}
.E-m3 p{
	padding-top: 5px;padding-left: 1px;
}
.contact_third{
	padding-top: 15px;
}
.contact_i-fo{
	font-size:29px;
}
.contact_fourth{
	padding-top: 13px;
}
.E-m4{
	padding-top: 1px;padding-left: 22px;
}
@media(min-width: 740px){}
@media(min-width: 980px){}
@media (min-width: 1180px){}
.contact_a1 p,.E-m2 p,.contact_indo{margin: 0;padding-top: 0}
.contact_h4{
	height:75px;
	padding-top:41px;
	color:#4c4c4c;
}
.contact_indo{
	padding-left: 0px;
}
.contact_p1{
	padding-top: 9px;
}
.contact_s2 p{
	padding-top: 36px;
}
.contact_form{
	color: #2f3443;
	padding-top: 8px;
}
.contact_pro{
	padding-top: 5px;
}
.contact_mat{
	padding-top: 3px;
}
.contact_mat li {
	padding:0;
	width:89px;
	height:36px;
	float:left;
}
.contact_mat #contact_mat_met{
	width:150px;
}
#contact_mat_oth{
	width: 68px;
}
#contact_mat_oth_i{
	position: relative;
	bottom:7px;
	left:10px;
}
.contact_c{
	position: relative;
	top:14px;
}
.contact_cap{
	padding-top: 11px;
}
.contact_cap li{
	padding-top:0px;
	width:115px;
	height:32px;
	float:left;
}
.contact_float{
	float:right;
}

.contact_sub{
	background-color: #da3003 !important;
	color:white;
	width: 137px;
	height:40px;
	position: relative;

}
.contact_sub b{
		font-size: 14px;
}
.contact_a{
	text-decoration: underline;
	position: relative;
	left:10px;
	top:10px;

}
.contact_subm{
	position: relative;
	top:16px;
}
.form_change{
	position: relative;
	top:2px;
	margin-right: 1px;
}
form{
	position:relative;
	right: 20px;
}
@media(min-width: 1200px){
	h4{
		width:90%;
	}
}
@media(max-width: 1200px){
	form{
		right: 4px;
	}
	#contact_mat_oth_i{
		padding-left: 0;
		left:0;
	}
}
@media(max-width: 1000px){
	form{
		right: 10px;
	}
}
.form-group{
	margin-bottom:38px;
}
@media(max-width: 300px){
	.contact_sub{
		
		float: left;
	}
	.contact_a{
		margin-left:-40px;
	float: left;

}
}
@media(max-width: 350px){
	.contact_h1{
		font-size: 29px;
	}
}
@media(max-width: 414px){
	.contact_sub{
		margin-left: -21px;
		float: left;
	}

}


@media(min-width: 760px){
	#con_but{
		display: none;
	}
	.contact_mat table{
		width: 329px;
	}
	.contact_mat table tr td{
		padding:0;
	}
}
@media(min-width:960px){
	.contact_mat table{
		width:500px;
	}
	.contact_mat table tr td{
		padding:7px;
	}
	.contact_inp_4{
		padding: 0;
	}
}

@media(max-width:999px){
	.contact_float{
	float:left;
	}
	.form-group{
	margin-bottom:0px;
}
}
.contact_mar{
	margin-bottom: 72px;
}
@media(min-width: 1200px){
	.contact_h1{
		padding-top: 39px;
	}
	.contact_h4{
	height:75px;
	padding-top:41px;
	}
	.contact_a1 p{
		line-height: 25px;
	}
	.E-m2 p:first-of-type{
		padding-top: 6px;
	}
	.xs6 h4:first-child{
		height:69px;
		padding-top:38px;
		position: relative;
    	left: 5px;
	}
	.contact_s2 p{
		    padding-top: 31px;
    padding-left: 11px;
    line-height: 25px;
	}
	form{
		right:2px;
	}
	.contact_mat.line{
		position: relative;
		right: 1px;
	}
	.form_change{
	
	margin-right: 8px;
}
	.contact_c{
	top:9px;
	left:2px;
}	
	.contact_cap li{
	
	width:111px;
	height:44px;
	
}
	.contact_sub {
		right: 23px;
	}
	.contact_n{
	position: relative;
	top:10px;
	left: 1px;
}
	form>.form-group:first-child{
	margin-bottom: 43px;
	}
}
@media(max-width: 759px){
	.contact_subm{
		display: none;
	}
form button {
    height: 31px;
    background-color: #ea5455;
    color: #fff;
    border: none;
    float: right;
    width: 100%;

}
	#con_but{
		display: block;
	    padding:0px 10px;
		}
}