.product_title{
	font-weight: bold;
	font-size: 36px;
	padding-bottom:8px;
	margin-top: 50px;
}
.product_list_nav li{
	font-size: 16px;
	font-weight: bold;
	margin-right:62px;
	padding-top:20px;
	margin-top: -11px;
	margin-bottom: 25px;
}
.product_list_nav li:first-child{
	border-top:2px red solid;
}
.product_center_pic .box{
	position: relative;
	margin-top: 57px;

}

.product_icon1{
	width: 30px;
	height: 25px;
	position: absolute;
}
.product_center_inname{
	margin-top: -30px;
	text-align: center;
	color: red;
	font-weight: 16px;
	font-weight: bold;
}
.product_des p:last-child{
	color: red;
}
.product_list .l1>.box{
	margin-top: 50px;
}
.product_list .l2{
	margin-top: 50px;
}
.product_list .l2>.box{
	margin-top:25px;
}
.product_list .l3{
	margin-top: 50px;
}
.product_list .line-big:last-child{
	margin-bottom: 40px;
}
@media (max-width: 760px){
	.product_center_inname{
		/*text-align: left;*/
	}
	.product_list_nav li{
	font-size: 15px;
	font-weight: bold;
	margin-right:15px;
	margin-top:5px;
	margin-bottom:5px;
}
}