
.product_article_des p{
	margin-top: 20px;
}
.product_article_des h1{
	padding-top:15px;
	padding-bottom:10px;
}
.product_article_des .button{
	padding-left: 30px;
	padding-right: 30px;
	font-weight: bold;
}
.product_article_des a:last-child{
	display: inline-block;
	text-decoration: underline;
	padding-left: 40px;
	margin-top: 10px;
}
hr{
	margin-top: 20px;
}
h4{
	padding-top: 10px;
	padding-bottom: 30px;
	color: #595959;
	font-size: 16px;
}
.product_article_view p{
	
}
.img-responsive{
	margin: 0 auto;
}
.product_article_view p{
	font-weight: bold;
	font-size: 16px;
}
.product_article_dis{
	display: none;
}
.product_article_list>li{
	margin-top: 20px;
	
	
}

.product_article_list>li:first-child{
	margin-top: 30px;
}
.product_article_b hr{
	margin-top: 0px;
}
.product_article_b_left{
	margin-top: 40px;
}
.product_article_b h3{
	font-size: 16px;
	font-weight: bold;
}
.tog{
	display: inline-block;
	width:16px;
	height: 16px;
	background:url('../img/product/product_article_+.jpg');

}
.tog+span{
	display: inline-block;
	vertical-align: top;
	padding-left: 5px;

}
.tm{
	display: inline-block;
	width:16px;
	height: 16px;
	background:url('../img/product/product_article_-.jpg');
}
.product_article_dis{
	margin-left: 20px;
}
.product_article_dis>li{
	margin-top: 20px;
}
.product_article_b_right ul>li:first-child{
	font-size: 22px;
	font-weight: bold;
}

.product_article_b_right ul>li:first-child~li{
	font-size: 14px;
	color: #939393;
	padding-top: 10px;
}

.product_article_table td{
	padding-left: 1px;
	padding-right: 1px;
	margin-left: 0px;
	margin-right: 0px;
	vertical-align: middle;
}
.product_article_b_right>p:nth-of-type(1){
	margin-top: 20px;
}
.product_related_case{
	font-size: 22px;
	color: #414141;
	margin-top: 50px;
}
.product_related_case~div{
	margin-top: 24px;
}
.product_related_case~div p{
	font-size:14px;
	font-weight: bold;
}
/*尾部*/

@media(max-width: 760px){
	.product_article_b_right ul{
		margin-top: 40px;
	}
	.product_article_b_right ul>li:first-child{
	font-size: 14px;
	font-weight: bold;
	}

	.product_article_b_right ul>li:first-child~li{
	font-size: 14px;
	color: #939393;
	padding-top: 1px;
	}
	.product_article_b_right ul>li{
	margin-right: 10px;
}
}
@media(max-width: 430px){
	.product_article_des a:last-child{

		padding-left: 20px;
	}
	.product_article_b_right ul>li:first-child{
	font-size: 12px;
	font-weight: bold;
	}

	.product_article_b_right ul>li:first-child~li{
	font-size: 8px;
	color: #939393;
	padding-top: 1px;
	}
	.product_article_b_right ul>li{
	margin-right: 10px;
}
}

@media(min-width: 761px){
	.product_article_b_right ul{
		margin-top: 40px;
	}
	.product_article_b_right ul>li{
	margin-right: 20px;
}
@media(min-width: 1000px){
	.product_article_b_right ul>li{
	margin-right: 70px;
}
}

@media(min-width: 1200px){
	
}