h1{
	font-size: 30px;
	color: #454545;
	margin:50px 0 15px;
}
.line-big{
	margin-top: 20px;
}
.solution_sma{
	color: #6c6c6c;
	margin:0;
}
.solution_div{
	position: relative;
		padding-bottom: 20px;
}
.solution_flo{
	position: absolute;
	width:90%;
	height:31.735%;
	top:30%;
	background-color: rgba(47,52,67,0.5);
	color:white;
}
.solution_flo:hover{
	background-color: rgba(255,53,0,0.5);
}
.solution_flo p{
	text-align: center;
	/*line-height: 66px;*/

}

@media(max-width: 450px){
	.solution_flo p{
		font-size: 20px;
	}
}
