h1{
	font-size: 30px;
	color: #454545;
	margin:50px 0 15px;
}
.img-responsive{
	width: 100%;
}
.line-big{
	margin-top: 20px;
}
.solution_sma{
	color: #6c6c6c;
	margin:0;
}
.solution_div{
	position: relative;
		padding-bottom: 20px;
}
.solution_flo{
	position: absolute;
	width:90%;
	height:31.735%;
	top:30%;
	color:white;
}
.solution_flo p:hover{
	background-color: rgba(255,53,0,0.5);
}
.solution_flo p{
	background-color: rgba(47,52,67,0.5);
}

@media(max-width: 450px){
	.solution_flo p{
		font-size: 20px;
	}
}
