/*header start*/
header{background-color: #2e3442;height: 31px;}
header a i{padding-right: 9px;font-size: 16px;}
header a{display: inline-block;padding-top: 6px;color: #868d9e;}
header a:hover{color: #fff;}
.h-l{padding-right: 30px;}
@media (max-width: 279px){
	header{display: none;}
}
@media (min-width: 1180px){.h-l{padding-left: 18px;}}
/*header end*/

/*nav start*/
nav{height:63px;}

nav img{
	position: relative;left: 4px;top: 12px;
}
#but{
	margin-top: 17px;
}
#nav-link1{
	z-index: 999;
	position: relative;
}
#nav-link1 li{
	padding-left: 7px;
}
.n-r{
	position: relative;
	top:20px;
}
button{
	float:right;
}
.nb-d{
	height: 38px;background-color: #f1f1f1;
}
.nb-d div p{
	padding-top: 7px;
}
@media(min-width: 760px){
	.nav-inline li a {
    	padding: 5px 7px;
}
}
@media(min-width: 1000px){
.nav-inline li a {
    padding: 5px 20px;
}
}
/*nav end*/

/*footer start*/
ul,li{
	list-style: none;
	padding: 0px;
	margin: 0px;
}
article{
	margin-bottom: 54px;
}
footer{
	background: #f8f8f8;
}
.about_footer_l{
	margin-top: 35px;
}
.about_footer_l>li:first-child{
	font-weight: bold;
	font-family: Arial;
	font-size: 16px;

}
.about_footer_l img{
	padding-bottom: 5px;
}
.about_footer_l li{
	margin-top: 10px;
}
.about_footer_l>li:nth-child(2){
	margin-top: 22px;
}
.about_footer_icon img{
	vertical-align: middle;
}