/*header start*/
header{background-color: #2e3442;height: 31px;}
header a i{padding-right: 9px;font-size: 16px;}
header a{display: inline-block;padding-top: 6px;color: #868d9e;}
header a:hover{color: #fff;}
.h-l{padding-right: 30px;}
@media (max-width: 279px){
	header{display: none;}
}
@media (min-width: 1180px){.h-l{padding-left: 18px;}}
/*header end*/

/*nav start*/
nav{height:63px;}

nav img{
	position: relative;left: 4px;top: 12px;
}
#but{
	margin-top: 17px;
}
#nav-link1{
	z-index: 999;
	position: relative;
}
#nav-link1 li{
	padding-left: 7px;
}
.n-r{
	position: relative;
	top:20px;
}
button{
	float:right;
}
/*nav end*/
